<style type="text/css">
* { margin: 0; padding: 0; }

#footer {
	width: 90%;
	max-width: 1100px;
	height: 15px;
	margin-top: 0px;
	background-color: #424242;
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
	font-family: verdana;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: right;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#navi {
	width: 90%;
	max-width: 1100px;
	height: 17px;
	margin-bottom: 0px;
	background-color: #424242;
	color: #ffffff;
	padding-bottom: 15px;
	padding-top: 15px;
}


a.nav {
	color: #ffffff;
    font-family: verdana; 
    font-size: 15px;
    //font-weight: bold; 
    font-style: normal; 
   	text-decoration: none;
    margin: 30px;
}

a.nav:hover {
	text-decoration: none;
	border-bottom: 1px white dotted;
}

#background {
	width: 100%;
	height: 400px;
	background-color: #84d3ba;
	position: relative;
}

#main {
	width: 90%;
	max-width: 1100px;
	background-color: #fff;
	font-size: small;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #424242;
	height: 100%;
	margin-top: 0px;
	overflow: hidden;
	text-align: left;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
}

#main a:link, #main a:visited, #main a:active {
	color: #ff6321;
	text-decoration: none;
}

#main a:hover {
	color: #F49D6C;
	text-decoration: none;
}

body {
	background-image: url("images/diabetes/bacteriabg2.png");
    /*background-repeat: repeat-x;*/
}

h1 { 
 font-family: Cambria; 
   font-weight: normal; 
   //font-style: normal; 
   font-size: 35px;
   //font-weight: bold; 
   //font-style: normal; 
   color: #000;
}

h2 {
   font-family: Verdana; 
   font-weight: bold; 
   //font-style: normal; 
   font-size: 14px;
   //font-weight: bold; 
   //font-style: normal; 
   color: #ed895a;	
   text-transform: uppercase;
}

table {
	border-collapse: collapse;
}

th, td{
	font-size: 15px;
	font-family: verdana;
	border: 1px solid black;
	padding: 10px;
}

th {
	font-weight: bold;
	color: #fff;
	background-color:#424242; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
}

.clear {
    clear:both;
    line-height:0;
}

</style>