

<style type="text/css">
* { margin: 0; padding: 0; }

	p {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#footerStretch {
		width: 100%;
		height: 30px;
		margin-bottom: 0px;
		background-color: #3e3e3e;
	}

	/*
	#footer {
		width: 100%;
		height: 100%;
		margin-top: 0px;
		background-color: #3e3e3e;
		color: #ffffff;
		font-size: 10px;
		text-decoration: none;
		font-family: verdana;
		font-weight: normal;
		letter-spacing: 3px;
		text-align: right;
		padding: 5px;
	}
	*/

	#navi {
		width: 1000px;
		height: 50px;
		margin-bottom: 0px;
		/*background-color: #3e3e3e;*/
		color: #ffffff;
		padding: 15px;
	}

	#naviStretch {
		width: 100%;
		height: 80px;
		margin-top: 0px;
		/*background-color: #3e3e3e;*/
		background-image: url("images/banner.jpg");
	}

	a.homeLink {
		color: #ffffff;
		background: none;
		font-family: 'Bellota'; 
		font-size: 35px;
		font-weight: bold; 
		font-style: normal; 
		text-decoration: none;
	}

	a.subjectLink:link, a.subjectLink:visited {
		line-height: 50px;
		font-size: 16px;
		font-family: 'NowLight', Arial; 
		font-weight: normal;
		letter-spacing: 3px;
		padding: 15px;

	}
	

	
/*
	a.subjectLink:active, a.subjectLink:hover {
		color: #3e3e3e;
	}*/

	#background {
		width: 100%;
		height: 400px;
		background-color: #3e3e3e;
		position: relative;
	}

	#main {
		width: 90%;
		max-width: 1000px;
		background-color: #ffffff;
		font-size: 14px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: #424242;
		height: 100%;
		margin-top: 0px;
		overflow: hidden;
		padding: 15px;
		text-align: left;
		line-height: 30px;
	}

	#main a:link, #main a:visited, #main a:active {
		color: #56af93;
		text-decoration: none;

	}

	#main a:hover {
		color: #3e3e3e;
		text-decoration: none;
	}
	
	a.projectLink {
		font-family: 'Bellota' !important; 
		font-size: 30px !important;
		font-weight: bold !important; 
		font-style: normal !important; 
		font-size: 35px !important;
		line-height: 70px !important;

	}
	
	body {
		background-repeat: repeat-x;
	}

	h1 { 
	   font-family: 'Bellota'; 
	   font-size: 30px;
	   font-weight: bold; 
	   font-style: normal; 
	}
	
	h2 { 
	   font-family: verdana;
	   font-size: 15px;
	   font-weight: lighter; 
	   font-style: normal; 
	   color: #777777;
	   line-height: 40px;
	}

	h3 { 
	   font-family: verdana;
	   font-size: 12px;
	   font-weight: lighter; 
	   font-style: normal; 
	   color: #777777;
	   line-height: 10px;
	   padding-bottom: 20px;
	}

	table{
		font-size: 15px;
		font-family: verdana;
		border: 0px;
	}

	ul {
		list-style-type: none;
		margin: -15px;
		padding: 0;
		overflow: hidden;
	}

	li {
		float: left;
	}

	li a, .dropbtn {
		display: inline-block;
		color: #fff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li.dropdown {
		display: inline-block;
		font-size: 16px;
		font-family: verdana;
		font-weight: normal;
	}

	.dropdown-content {
		
		display: none;
		position: absolute;
		background-color: #4d76b0;
		min-width: 160px;
	}

	.dropdown-content a {
		color: #fff;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #28528b;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	/*for single images*/
	.responsive {
		width:100%; 
		max-width:650px; 
		padding-top:20px;
		padding-bottom:20px;
		display: block;
		margin: 0 auto;
	}


	/*for divs wrapping double images*/
	.responsiveContainer {
		text-align:center;
	}

	/*double images wrapped in divs*/
	.responsiveContained {
		display: inline-block;
		padding-left:20px;
		padding-right:20px;
		padding-top:20px;
		padding-bottom:20px;
		margin-left: auto;
		margin-right: auto;
		width:50%; 
		max-width:300px; 
	}

	.heading {
		background-color: #4d76b0; 
		color: #FFFFFF; 
		font-size: 35px; 
		font-family: 'NowLight', Arial; 
		padding: 5px;
		width: 100%;
		text-align: center;
		letter-spacing: 2px;
	}
	
	.subHeading {
		background-color: #4d76b0; 
		color: #fff; 
		font-size: 20px; 
		font-family: 'NowLight', Arial; 
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	
	/*Used for grey background under headings*/
	div.description {
		padding: 10px; 
		width:100%; 
		margin-top:10px;
		
		/*Radial Gradient*/
		/*
		background: #f2f2f2;
		background: -webkit-linear-gradient(left top, #f2f2f2, #fff); 
		background: -o-linear-gradient(bottom right, #f2f2f2, #fff); 
		background: -moz-linear-gradient(bottom right, #f2f2f2, #fff); 
		background: linear-gradient(to bottom right, #f2f2f2, #fff); 
		*/
	
		/*Linear Gradient*/
	    /*background: #f2f2f2;  For browsers that do not support gradients */
		/*background: -webkit-linear-gradient( #f2f2f2, #fff);  For Safari 5.1 to 6.0 */
		/*background: -o-linear-gradient( #f2f2f2, #fff);  For Opera 11.1 to 12.0 */
		/*background: -moz-linear-gradient( #f2f2f2, #fff);  For Firefox 3.6 to 15 */
		/*background: linear-gradient( #f2f0f0, #fff);  Standard syntax (must be last) */
	}
	
	/*Used for grey background under headings*/
	div.more {
		padding: 10px; 
		width:100%; 
		margin-top:10px;
	}
	
	.morecontent span {
		display: none;
	}
	.morelink {
		display: block;
	}
</style>