<style type="text/css">
* { margin: 0; padding: 0; }

#footerStretch {
	width: 100%;
	height: 30px;
	margin-bottom: 0px;
	background-color: #3e3e3e;
}

#footer {
	width: 1000px;
	height: 20px;
	margin-top: 0px;
	background-color: #3e3e3e;
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
	font-family: verdana;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: right;
		padding: 5px;
		
}

#navi {
	width: 1000px;
	height: 50px;
	margin-bottom: 0px;
	background-color: #3e3e3e;
	color: #ffffff;
		padding: 15px;
}

#naviStretch {
	width: 100%;
	height: 80px;
	margin-top: 0px;
	background-color: #3e3e3e;
}

a.homeLink {
	color: #ffffff;
	background: none;
   font-family: 'Bellota'; 
   font-size: 30px;
   font-weight: bold; 
   font-style: normal; 
   	text-decoration: none;
	
}

a.subjectLink:link, a.subjectLink:visited, a.subjectLink:active {
	color: #ffffff;
	background: none;
	line-height: 50px;
	font-size: 16px;
	text-decoration: none;
	font-family: verdana;
	font-weight: normal;
	letter-spacing: 3px;
	padding: 15px;

}

a.subjectLink:hover {
	border: none;
	background: none;
	color: #ffde75;
	text-decoration: none;

}

#background {
	width: 100%;
	height: 400px;
	background-color: #84d3ba;
	position: relative;
}

#main {
	width: 1000px;
	background-color: #ffffff;
	font-size: small;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #424242;
	height: 100%;
	margin-top: 0px;
	overflow: hidden;
	padding: 15px;
	text-align: left;
	line-height:2;
	
}

#main a:link, #main a:visited, #main a:active {
	color: #ff6321;
	text-decoration: none;

}

#main a:hover {
	color: #F49D6C;
	text-decoration: none;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: repeat-x;
}

h1 { 
   font-family: 'Bellota'; 
   font-size: 25px;
   font-weight: bold; 
   font-style: normal; 
}

table{
	font-size: 15px;
	font-family: verdana;
	border: 0px;
}
</style>